*
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


header
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
}

header h1
{
    font-family:'Courier New', Courier, monospace;
}

header h2
{
    font-family:'Courier New', Courier, monospace;
}

header div
{
    text-align: center;
}

img
{
    width: 200px;
    border-radius: 25%;
}


nav ul
{
    
    background-color:mediumturquoise;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

nav ul li
{
    height: 50px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a
{
    
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-weight: 900;
    font-size: large;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:hover
{
    background-color:darkcyan;
}

nav ul li a:hover
{
    color:black;
    text-decoration: underline;
}


footer
{
    position: relative;
    padding-top: 4%;
    bottom: 0px;
    text-align: center;
    width: 100%;
}


#titulo
{
    font-size: x-large;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}

#texto
{
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}

